# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.lock
# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
# Android
android/app/debug
android/app/profile
android/app/release
android/keystore.properties
android/key.properties
*.keystore
*.jks
!debug.keystore
